:root {
    --dark-background-color: #252B42;
    --light-background-color: #FFFFFF;
    --light-text-color: #FFFFFF;
    --second-text-color: #737373;
    --text-color: #252B42;
    --primary-color: #23A6F0;
    --success-color: #2DC071;
    --success-color-hover: #3df392;
    --light-text-gray: #FAFAFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
